.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
  color: #2f80ed;
  transition: ease;
  opacity: 0.3s;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #1f69c9;
  opacity: 70%;
}
