.recipes {
    padding: 100px 80px 215px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    background-image: url(../images/background_recipes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0A2750;
    color:#fff ;
    }
    
    .recipes__subtitle {
        font-family: "Noto serif";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        left: 80px;
        max-width: 438px;
    }
    
    .recipes__videos {
        display: flex;
        justify-content: center;
        gap: 46px;
       border: 0;
        
    
    }
    
    .recipes__video-caption {
        display: flex;
        justify-content: space-between;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }