.page{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background_header.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter";
}

.nav__link {
    color: #000;
    text-decoration: none;
}

.header__title {
    max-width: 729px;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    margin: 183px 0 0;
    letter-spacing: -0.6px;
    font-style: normal;
    font-family: "Inter";
}

.header__description {
    max-width: 683px;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    font-family: "Noto serif";
}

.header__span-accent {
    display: block;
    color: #2f80ed;
    font-family: "noto serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
}

.header__image {
    position: absolute;
    width: 646px;
    height: 548px;
    top: 124px;
    right: 5px;
    
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    color: #838383;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter";
}

.header__paragraph {
    margin: 0;
}

.recipes {
padding: 100px 80px 215px;
font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
background-image: url(../images/background_recipes.svg);
background-position: center;
background-repeat: no-repeat;
background-color: #0A2750;
color:#fff ;
}

.recipes__subtitle {
    font-family: "Noto serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    left: 80px;
    max-width: 438px;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 46px;
   border: 0;
    

}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.reservation {
    padding: 100px 0 120px;
    background-image: url(../images/background_reservation.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #D9E7FF;
}

.reservation__title {
    margin: 0 0 80px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    margin: 0 auto;
}

.form {
    max-width: 385px;
    
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__label {
    margin-bottom: 32px;
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 20;
    height: 20px;
}

.form__input {
    display: block;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    height: 60px;
}

.form__button {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    height: 60px;
}
