@import url(../blocks/normalize.css);
@import url(../blocks/pages.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);

.menu {
    padding: 100px 0 100px;
    background-color: #fff;
    background-image: url(../images/background_menu.svg);
    background-position: center;
    background-size: cover;
}

.menu__title {
    margin: 0 auto 24px;
    text-align: center;
    max-width: 780px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 780px
    
}

.menu__subtitle {
    text-align: center;
    max-width: 780px;
    justify-content: center;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 100px;
}

.menu__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

.card {
    width: 540px;
}

.card__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.card__title {
    margin: 0 0 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.card__list-item {
    display: flex;
}

.card__list-divider {
    border-bottom: 1px solid black;
    flex-grow: 1;
}

.about {
    padding: 100px 80px;
    display: flex;
    background-color: #0a2850;
    color: #fff;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.about__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 251px;
    margin: 0;
    
}

.about__content {
    margin-top: 119px;
    right: 80px;
    margin-bottom: 173px;
    gap: 20px;
    padding: 0;
    max-width: 660px;
}

.about__paragraph {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    }

    .footer {
        box-sizing: border-box;
        background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
        color: #fff;
        display: flex;
      }

      .footer__columns {
        display: flex;
      }

      .footer__column_content_social {
            right: 80px;
          }

          .footer__logo {
            height: 39px;
            width: 105px;
          }

          .footer__list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-family: "Inter";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
          }

          .footer__list-item {
            margin: 0 0 16px;
            }
            
            .footer__list-item:last-of-type {
              margin: 0;
            }
            
            .footer__column-heading {
              margin: 0 0 20px;
              font-size: 16px;
              font-family: "Inter";
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
            }
            
            .footer__column-link {
              color: white;
              font-size: 16px;
              line-height: 20px;
              text-decoration: none;
              display: flex;
              align-items: center;
            }
            
            
            .footer__social-icon {
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }
            
            .footer__copyright {
              margin: 108px 0 60px;
              font-family: "Inter";
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
            }

